<!-- OWEN WORK IMPLEMENTATION OF TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Student Information</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/starter-template.css" rel="stylesheet">
  </head>
  <body>
<!-- OWEN -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homepage/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus/">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/createuser/">Create Account</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
<!--END OWEN WORK -->

<!-- ERICS WORK -->
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: -2rem;">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active" style="height:30rem;">
          <img class="first-slide" src="../static/homepage/img/students.jpg" style="width:100%;height: 100%;">
          <div class="container">
            <div class="carousel-caption d-none d-md-block text-center" style="margin-bottom: 12rem;">
              <h1>Student</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:30rem;">
          <img class="second-slide" src="../static/homepage/img/background01.jpg" alt="Second slide" style="width:100%;height: 100%;">
          <div class="container">
             <div class="carousel-caption d-none d-md-block text-center" style="margin-bottom: 12rem;">
              <h1>Student</h1>
            </div>
          </div>
        </div>
        <div class="carousel-item" style="height:30rem;">
          <img class="third-slide" src="../static/homepage/img/background2.jpg" alt="Third slide" style="width:100%;height: 100%;">
          <div class="container">
             <div class="carousel-caption d-none d-md-block text-center" style="margin-bottom: 12rem;">
              <h1>Student</h1>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


        <div class="container" id="container-center">
          <div class="row">
            <div class="col-lg-5">
              <img src="../static/homepage/img/University.jpg" style="width:25rem;height:18rem;">
             </div>
             <div class="col-lg-7">
                <div id="University-top">
                  <h4 style="text-align:center;">University</h4>
                  <p class="lead">
                    Brisbane has multi-campus universities and colleges including the University of Queensland (UQ), Queensland University of Technology (QUT) and Griffith University, all among Australia's highest rated universities.And other universities also have campuses in Brisbane. Click here to get more information.
                  </p> 
               </div>
            </div>
          </div>

          <div class="row">
             <div class="col-lg-4">
              <div class="row">
                <div id="lifes-left">
                  <img src="../static/homepage/img/lifes_02_01.jpg" style="width:100%;height:100%;">
                </div>
              </div>
              <div class="row">
                <div id="lifes-left">
                  <img src="../static/homepage/img/lifes_02_02.jpg" style="width:100%;height:100%;">
                </div>
              </div>
             </div>
             <div class="col-lg-8">
               <div id="lifes-right">
                   <h2>Library</h2>
                   <p class="lead">
                     Brisbane is a city with a high degree of civilization and many large libraries. Click here to get more information.
                   </p>
               </div>
             </div>
          </div>

          <div class="row">
             <div class="col-lg-6">
               <div id="lefesbto-left">
                   <h2>City map</h2>
                   <p class="lead"></p>
               </div>
             </div>
               <div class="col-lg-6">
                <div id="lefesbto-right">
                <img src="../static/homepage/img/map1.jpg" style="width:100%;height:100%;">
              </div>
             </div>
          </div>
          <hr class="featurette-divider">

<!-- END ERICS WORK -->
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="/student/">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
        </div>
<!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/homepage/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/homepage//js/vendor/popper.min.js"></script>
    <script src="/static/homepage/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
