<!-- OWEN WORK IMPLEMENTATION OF TEMPLATE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Student Information</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/starter-template.css" rel="stylesheet">
  </head>
  <body>
<!-- OWEN -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homepage/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus/">About Us <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/createuser/">Create Account</a>
          </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
<!--END OWEN WORK -->

<!-- ERICS WORK -->
        <div class="carousel-item active" id="student-header">
          <div class="container" >
            <div class="carousel-caption d-none d-md-block text-left">
              <h1>Student Life</h1> 
            </div>
          </div>
        </div>

        <div class="container" id="container-center">
          <div class="row">
            <div class="col-lg-4">
            </div>
             <div class="col-lg-8"style="text-align: center;line-height: 2rem;">
              <h1>University</h1>
             </div>
          </div>

          <div class="row">
            <div class="col-lg-4">
              <img src="../static/homepage/img/University.jpg" style="width:23rem;height:18rem;">
             </div>

             <div class="col-lg-4">
                <div id="University-top">
                  <h4 style="text-align:center;">Basic information of the university</h4>
                  <p class="lead"></p> 
               </div>
            </div>

               <div class="col-lg-4">
                  <div id="University-bottom">    
                  <h4 style="text-align:center;">Address at the university of</h4>
                   <p class="lead">
                   </p>
                 </div>
             </div>

          </div>

          <div class="row">
             <div class="col-lg-4">
              <div class="row">
                <div id="lifes-left">
                  <img src="../static/homepage/img/lifes_02_01.jpg" style="width:100%;height:100%;">
                </div>
              </div>
              <div class="row">
                <div id="lifes-left">
                  <img src="../static/homepage/img/lifes_02_02.jpg" style="width:100%;height:100%;">
                </div>
              </div>
             </div>
             <div class="col-lg-8">
               <div id="lifes-right">
                   <h2>Library</h2>
                   <p class="lead"></p>
               </div>
             </div>
          </div>

          <div class="row">
             <div class="col-lg-6">
               <div id="lefesbto-left">
                   <h2>City</h2>
                   <p class="lead"></p>
               </div>
             </div>
               <div class="col-lg-6">
                <div id="lefesbto-right">
                <img src="../static/homepage/img/map.png" style="width:100%;height:100%;">
              </div>
             </div>
          </div>
          <hr class="featurette-divider">

<!-- END ERICS WORK -->
      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="/student/">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
        </div>
<!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/homepage/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/homepage//js/vendor/popper.min.js"></script>
    <script src="/static/homepage/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
