
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>About Us</title>

    <!-- Bootstrap core CSS -->
   <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="header clearfix">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homepage/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus/"">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createuser/">Create Account</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    
      <h3 class="text-muted">Smart City</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">About Us - SmartCity</h1>
        <p class="lead"> Welcome to the SmartCity homepage. SmartCity is an Not For Profit that provides information to visitors to the great city of Brisbane.
      Contained within the website we have provided information that relates to the needs of Students, Tourists and Businessman.
      Please create an account that relates to the information that you require. This is because the information has been catered to the needs of the user - increasing the efficiency of your visit.</p>
        <p><a class="btn btn-lg btn-success" href="/loginpage/" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Nicholas</h4>
          <img src="../static/homepage/img/Nic.jpg" style="width:18rem;height:18rem;">
          <p>Role within the Organisation: Front end design and development. </p>
          <p>Nicholas is a student at Queensland University of Technology studying a degree in Information Technology majoring in Information Systems. His role for the Assesment piece was to imitate a client seeking help from a software development firm </p>

          <h4 style="margin-top:2rem;">Eric</h4>
          <img src="../static/homepage/img/Eric.jpg" style="width:18rem;height:18rem;">
          <p>Role within the Organisation: Front end design and development.</p> 

          <p>Eric is a student at Queensland University of Technology studying a degree in Information Technology majoring in Information Systems. His role for the Assesment piece was to imitate a client seeking help from a software development firm. </p>

        </div>

        <div class="col-lg-6">
           <h4>Aiden</h4>
          <img src="../static/homepage/img/Aiden.png" style="width:18rem;height:18rem;">
          <p>Role within the Organisation: Database Infrastructure and communication. </p>

         <p> Aiden is a student at Queensland University of Technology studying a degree in Information Technology majoring in Computer Science. Aidens role for the Assesment piece was to emulate the role of a Software Developer and the associeted requirements that are required within this occupation.</p>

          <h4>Owen</h4>
          <img src="../static/homepage/img/Owen.jpg" style="width:18rem;height:18rem;">
          <p>Role within the Organisation: Site Archicture and Infrastructure Development.</p>

          <p>Owen is a student at Queensland University of Technology studying a double degree in Business and Information technology, majoring in Economics and Computer Science respectully. His role for the Assesment piece was to emulate the role of a Software Developer and the associeted requirements that are required within this occupation.</p>
        </div>
      </div>


      <!-- ERICS WORK -->
      <footer class="footer" style="position: fixed;bottom:0px;  left: -28px;">
        <p>&copy; SmartCity 2017</p>
      </footer>
      <!-- END ERICS WORK -->
      
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
