<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Tourist</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/starter-template.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
      
      <div class="carousel-item active" id="tourist-header">
            <img src="../static/homepage/img/toursit_04.jpg" style="width:100%;height: 100%;">
            <div class="container" >
            <div class="carousel-caption d-none d-md-block text-left" style="bottom: 6rem;">
              <h3 style="text-align: center;font-size: 3rem;">
                TRAVEl
              </h3>
              <p class="lead" style="text-align: center;">THE CIVIC LANDSCAPE
              </p>
            </div>
          </div>
             
        </div>

  
    <div class="container" id="tourist-container">
      <div class="row">
        <div class="col-lg-4">
          <div id="tourist-left"  style="border:1px solid #d1d2d3;">
            <h2>SCENIC SPOT</h2>
            <p class="lead">
            </p>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div id="tourist-center">
              <img src="../static/homepage/img/tourist_06.jpg" style="width:100%;height:100%;">
            </div>
            </div>
            <div class="row">
              <div id="tourist-right">
                <img src="../static/homepage/img/tourist_07.jpg" style="width:100%;height:100%;">
              </div>
          </div> 
        </div>
        </div>

      <div class="row">

        <div class="col-lg-6">
          <div class="row">
            <div class="col-lg-6">
              <div class="tourist-menulist">
               <img src="../static/homepage/img/tourist_08.jpg" style="width:100%;height:100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tourist-menulist" style="margin-right:10rem;margin-left:0;">
              <img src="../static/homepage/img/tourist_09.jpg" style="width:100%;height:100%;">
             </div>
            </div>
          </div>
          <div class="row">

            <div class="col-lg-6">
              <div class="tourist-menulist">
                <img src="../static/homepage/img/tourist_10.jpg" style="width:100%;height:100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tourist-menulist">
              <img src="../static/homepage/img/tourist_11.jpg" style="width:100%;height:100%;">
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div id="tourist-menu" style="border:1px solid #d1d2d3;">
            <h2>CATE</h2>
            <p class="lead">
            </p>
          </div>
        </div>

      </div>

       <div class="row">
        <div class="col-lg-4">
          <div id="tourist-city" style="border:1px solid #d1d2d3;">
            <h2>MEANS OF TRANSPORTATION</h2>
            <p class="lead">
            </p>
          </div>
        </div>
        <div class="col-lg-8" style="padding-right: 10rem;">
          <div class="row" style="margin-left: 4rem;">
            <div class="col-lg-6">
              <div class="tourist-citylist">
               <img src="../static/homepage/img/tourist_12.jpg" style="width:100%;height:100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tourist-citylist" style="margin-right:10rem;margin-left:0;">
              <img src="../static/homepage/img/tourist_13.jpg" style="width:100%;height:100%;">
             </div>
            </div>
          </div>
          <div class="row" style="margin-left: 4rem;">
            <div class="col-lg-6">
              <div class="tourist-citylist">
                <img src="../static/homepage/img/tourist_14.jpg" style="width:100%;height:100%;">
              </div>
            </div>
            <div class="col-lg-6">
              <div class="tourist-citylist">
              <img src="../static/homepage/img/tourist_15.jpg" style="width:100%;height:100%;">
              </div>
            </div>
          </div>
        </div>
      </div>

     <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>&copy; 2017 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/static/homepage/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/homepage//js/vendor/popper.min.js"></script>
    <script src="/static/homepage/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
