<!-- Owen Work -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>SmartCity!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homepage/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus/"">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createuser/">Create Account</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>


<!-- ERICS WORK -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" style="background-color: #dadadc;">
      <div class="container">
        <h1 class="display-3">SmartCity!</h1>
        <p align ="justify"> Brisbane is the capital of the state of Queensland, it is the third most populous city in Australia. Brisbane's metropolitan area has a population of 2.4 million, and the South East Queensland region, centred on Brisbane, encompasses a population of more than 3.5 million.</p>
        <p><a class="btn btn-primary btn-lg" href="/aboutus/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4" style="background-color: #7fd6ce;">
          <h2 style="text-align: center;">Tourist</h2>
          <p>Brisbane is a vibrant and interesting city! It is a wonderful place to travel.<br><br>Click the button below to find out more.</p>
          <p style="text-align: center;"><a class="btn btn-secondary" href="/tourist/" role="button">Tourist &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color: #d79ca2;">
          <h2 style="text-align: center;">Student</h2>
          <p >Brisbane has many great academic institutions. These range from brilliant highschools to some of the best universities in the world. Click the button below to find out more.</p>
          <p style="text-align: center;"><a class="btn btn-secondary" href="/student/" role="button">Student &raquo;</a></p>
        </div>
        <div class="col-md-4" style="background-color: #f5d87c;">
          <h2 style="text-align: center;">Businessman</h2>
          <p >Brisbane is the economic center of the Australian state of Queenland and one of the most populous cities in Australia. For more business related content click the button below!</p>
          <p style="text-align: center;"><a class="btn btn-secondary" href="/businessman/" role="button">Business &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer style="position: fixed;bottom:-10px;  left: 0;">
        <p>&copy; SmartCity 2017</p>
      </footer>
    </div> <!-- /container -->

<!-- END ERICS WORK -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/homepage/js/vendorvendor/popper.min.js"></script>
    <script src="/static/homepage/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
