<!-- Owen Work -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>SmartCity!</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/homepage/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/homepage/css/jumbotron.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/homepage/">Home</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/aboutus/"">About Us<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/loginpage/">Log In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createuser/">Create Account</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">SmartCity!</h1>
        <p align ="justify"> Brisbane is the capital of and most populous city in the Australian state of Queensland, and the third most populous city in Australia. Brisbane's metropolitan area has a population of 2.4 million, and the South East Queensland region, centred on Brisbane, encompasses a population of more than 3.5 million.

          SmartCity is a not for profit that provides information about City of Brisbane for three specific user types, the Business User, Students and Tourists. Information provided is based on the account type of the user .

        If you are interested in the people behind the project, please click the See More button below for more information about the people behind the project, and what the purpose is.</p>
        <p><a class="btn btn-primary btn-lg" href="/aboutus/" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Tourist</h2>
          <p>Basic Explanation of tourist.</p>
          <p><a class="btn btn-secondary" href="/tourist/" role="button">Tourist &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Student</h2>
          <p>Basic explanation of student</p>
          <p><a class="btn btn-secondary" href="/student/" role="button">Student &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Business User</h2>
          <p>Basic information about Business User.</p>
          <p><a class="btn btn-secondary" href="/businessman/" role="button">Business User &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Company 2017</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="/static/homepage/js/vendorvendor/popper.min.js"></script>
    <script src="/static/homepage/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/homepage/js/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
