% extends "homepage/header.html" %}


{% block content %}
	<div align ="justify">
		<p> Welcome to the SmartCity homepage. SmartCity is an Not For Profit that provides information to visitors to the great city of Brisbane.
			Contained within the website we have provided information that relates to the needs of Students, Tourists and Businessman.
			Please create an account that relates to the information that you require. This is because the information has been catered to the needs of the user - increasing the efficiency of your visit.
		</p>
	</div>
{% endblock %}